

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    {% extends 'blog/base.html' %}

    {% block content %}
        <div class="container">
            <form method="POST">
                {% csrf_token %}

                {% comment %} <div class="col-md-6">
                    {{form.blog.label}}
                    {{form.blog}}
                </div> {% endcomment %}
                <br/>
                <div class="col-md-6">
                    {{form.body.label}}
                    {{form.body}}
                </div>
                <br/>

                
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </form>
        </div>
    {% endblock %}

</body>
</html>
