<!DOCTYPE html>
<html>
<head>

</head>
<body>
    {% extends 'blog/base.html' %}
    {% block content %}

        <div class="container pt-5">

            <div class="col-md-6">
                Title:
                {{data.title}}
            </div>
            <br/>
            <div class="col-md-6">
                Description:
                {{data.description}}
            </div>
            <br/>

         
            <br/>

            <div>
                <a href="{% url 'add_comment' data.id %}" class="btn btn-primary">Add Comment</a>

                <h3>Comments</h3>
            
                <br /> 
                {% if not data.comments.all %}
                    No Comments yet 
                    {% comment %} <a href="#">Add Comment</a> {% endcomment %}
                {% else %}
                    {% for comment in data.comments.all %}
                        <p>Comment Added By: {{data.created_by}}</p>
                        {{comment.body}} - 
                        {{comment.date_added}}
                        <br />
                        <br />
                    {% endfor %}    
                {% endif %}
            </div>
        
        </div> 

    {% endblock %}
</body>
</html>
