<!DOCTYPE html>
<html>
<head>
  <title>Django Blog</title>

</head>
<body>
    {% extends 'blog/base.html' %}

    {% block content %}
      <div class="container">
        <div class="row">

          {% comment %} {% include "blog/search.html" %} {% endcomment %}
          <h1>Blogs Lists</h1>

          <div class="col-sm-8">
            {% for blog in blogs %}
              <h2>{{blog.title}}</h2>
              <p>{{blog.description}}</p>
              <a href="show/{{blog.id}}"><i class="bi bi-eye-fill"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {% comment %} Current User:{{user.id}}
              Blog User:{{blog.created_by.id}} {% endcomment %}
              
              {% if user.id == blog.created_by.id %}
                <a href="edit/{{blog.id}}"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href='delete/{{blog.id}}'><i class="bi bi-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {% endif %}  
              <p>Created by: {{blog.created_by}}</p>
              <hr />
            {% endfor %}
            <a href="new" class="btn btn-primary">Create New Blog</a>
            <br />
            <br />
            <br />

            
            {% if blogs.has_previous %}
              <a href="?page=1">&laquo First</a>
              <a href="?page={{blogs.previous_page_number}}">Previous</a>
            {% endif %}

            {% comment %} Page{{blogs.has_next}} of {{blogs.paginator.num_pages}} {% endcomment %}

            {% if blogs.has_next %}
              <a href="?page={{blogs.next_page_number}}">Next</a>
              <a href="?page={{blogs.paginator.num_pages}}">Last</a>
            {% endif %}
            <br />
            <br />
            <br />
            <br />
            <br />
          </div>

          <div class="col-sm-4">
            <h2>Category</h2>
            <table class="table">
              <a href="{% url 'index' %}" class="btn btn-default">All</a><br />
              <hr />
              {% for category in categories %}
              <tbody>
                <tr>
                  <td>
                    <a href="{% url 'index' %}?category={{category.name}}" class="btn btn-default">{{category.name}}</a>
                    <br />
                  </td>
                </tr>
              </tbody>  
              {% endfor %}
            </table>  
          </div>


        </div>
      </div>
    {% endblock %}
</body>
</html>
