<!DOCTYPE html>
<html>
<head>

</head>
<body>
    {% extends 'blog/base.html' %}

    {% block content %}
        {% if user.is_authenticated %}
            <div class="container">
                <form method="POST" action="/new/">
                    {% csrf_token %}

                    {% comment %} <div class="col-md-6">
                        {{form.title.label}}
                        {{form.title}}
                    </div>
                    <br/>
                    <div class="col-md-6">
                        {{form.description.label}}
                        {{form.description}}
                    </div>
                    <br/>

                    <div class="col-md-6">
                        {{form.category.label}}
                        {{form.category}}
                    </div> {% endcomment %}

                    {% comment %} <div class="col-md-6">
                        {{request.user.created_by.as_hidden}}
                    </div> {% endcomment %}
                    {{form}}
                    <button type="submit" class="btn btn-primary">Create New Blog</button>
                </form>
            </div>
        {% else %}
            <h1>Please login to create a new post</h1>    
        {% endif %}
    {% endblock %}

</body>
</html>

