<!DOCTYPE html>
<html>
<head>

</head>
<body>
    {% extends 'blog/base.html' %}
    {% block content %}
        {% if user.id == obj.created_by.id %}
            <div class="container pt-5">
                <form method="POST"> 
                    <!-- Security token by Django -->
                    {% csrf_token %} 
            
                    <!-- form as paragraph -->
                    <div class="col-md-6">
                        {{form.title.label}}
                        {{form.title}}


                    </div>
                    <br/>
                    <div class="col-md-6">
                        {{form.description.label}}
                        {{form.description}}
                    </div>
                    <br/>

                    <div class="col-md-6">
                        {{form.category.label}}
                        {{form.category}}
                    </div>
                    <br/>

                    <button type="submit" class="btn btn-primary">Update Blog</button>

                </form> 
            
            </div> 
        {% endif %}
    {% endblock %}
</body>
</html>

